<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioDebito.LN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServicioDebito.LN.Properties.Settings>
            <setting name="ServicioDebito_LN_wsenviocorreos_Service" serializeAs="String">
                <value>http://wsenviocorreos.chevyplan.col/service.asmx</value>
            </setting>
        </ServicioDebito.LN.Properties.Settings>
    </applicationSettings>
</configuration>